@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}


footer a {
  color: #d1d5db !important; 
  text-decoration: none !important;
}

footer a:hover {
  color: #fbbf24 !important; 
  text-decoration: none !important;
}

@keyframes pulse-sos {
  0%, 100% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(220, 38, 38, 0.5); /* merah */
  }
  50% {
    transform: scale(1.05);
    box-shadow: 0 0 40px 15px rgba(220, 38, 38, 0.3);
  }
}

.sos-animate {
  animation: pulse-sos 1.5s infinite;
}

a.no-underline, 
a[class*="no-underline"] {
    text-decoration: none !important;
}

